
arquivos/algoritmos-cursoemvideo/.DS_Store
arquivos/algoritmos-cursoemvideo/exercicios/aula10/exercicios-prontos/.DS_Store
arquivos/algoritmos-cursoemvideo/exercicios/aula11/.DS_Store
arquivos/algoritmos-cursoemvideo/exercicios/aula12/.DS_Store
arquivos/algoritmos-cursoemvideo/exercicios/aula09/.DS_Store
arquivos/algoritmos-cursoemvideo/exercicios/aula10/.DS_Store
arquivos/algoritmos-cursoemvideo/exercicios/aula13/.DS_Store
arquivos/algoritmos-cursoemvideo/exercicios/aula10/aula-pratica/.DS_Store
